* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
   font-family: "Open Sans", San-serif;
  }


.header {
  width: 100%;
  max-width: 1440px;
  background-image: url("../images/banner-bg.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
  padding-bottom: 130px;
  
  position: relative;
  z-index: 0;
 }
  
@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }
}

@media (max-width: 640px) {
.header {background-image: url("../images/banner-mobile.jpg");
  }
}

.header-content {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  }


/*Маска*/
.header::after {
  content: "";
  background-color: #000000; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  }
 
.logo-nav {
  display: flex;
  line-height: normal;
  justify-content: space-between;
  align-items: center;
  }

.logo {
  width: 180px;
  }

.menu { 
  font-size: 13px;
  color: #ffffff;
  display: flex;
  }

.menu-list-item {
   list-style: none;
  }

.menu-list-item:nth-child(n+2) {
  margin-left:35px;
}

.menu-link {
 text-decoration: none;
    color: #ffffff;
 }

.menu-link:hover {
  text-decoration: underline;
}

.menu-list {
  display: flex;
  list-style: none; 
}
 
.header-title {
  width: 700px;
  margin-top: 100px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 
  font-size: 4.5rem;
  line-height: 1.7;
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
     }

     .logo1 {
      display: none;
    }
  }

@media (min-width: 641px) and (max-width: 1199px) {
  html {
    font-size: 56.2%;
  }

  .header-title {
    line-height: 1.3;
    width: 604px;
  }

  .logo1 {
    display: none;
  }
}
 
@media (max-width: 640px) {
    html {
      font-size: 36.2%;
    }

    .header-title {
      line-height: 1.4;
      width: 276px;
    }

    .logo {
      display: none;
    }

    .logo-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 276px;
      margin-top: 180px;
    }

    .logo1 {
        display: block;
        width: 276px;
    }

    .header-title {
      margin-top: 40px;
    }
  }


.menu-burger__header {
  position: relative; 
  border: none;
  cursor: pointer;
  margin-right: 35px;
}


.burger-button, 
.menu-burger__header:after, 
.menu-burger__header:before {
  height: 3px;
  width: 23px;
  position: absolute;
  background: #ffffff;
  text-align: center;
}

.menu-burger__header:after, 
.menu-burger__header:before {
  content: '';
}

.menu-burger__header:after{
  top: 5px;
}
.menu-burger__header:before{
  bottom: 5px;
}

.burger-hint {
  display: block;
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
}

@media (min-width:1200px) {
  .menu-burger__header {
    display: none;
 }
} 

@media (max-width:1199px) {
 .menu1 {
    display: none;
 } 
}

 
/* тренды */


.trends-box-container {
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: 1440px;
border: 2px solid green;
}

.trends-box {
  text-align: center;
  padding-top: 61px;
  padding-bottom: 61px;
} 

.trends-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .trends-title {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .trends-title {
    font-size: 16px;
  }
}

.trends-title::after {
  content: "";
  width: 66px;
  height: 2px;
  background-color: #b59f5b;
  display: block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
 }

.trends {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 66px;
  justify-content: space-between;
  border: 3px solid red;
  }



.trend {
width: calc(25% - 4px);
background-color: #eff6f1;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: flex-end;
padding: 10px;
}


.trend:nth-child(2),
.trend:nth-child(3) {
margin-left: 2px;
margin-right: 2px;
}


.trend:first-child {
margin-right: 2px;
}

.trend:last-child {
margin-left: 2px; 
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
.trend  {
 width: calc(50% - 4px);
 }

.trend:nth-child(n+3) {
  margin-top: 4px;
}
}

@media (max-width: 640px) and (orientation: portrait) {
.trend {
  width: 100%; 
 
}
.trend:nth-child(n+2) {
  margin-top: 4px;
}
}

@media (max-width: 640px) and (orientation: landscape) {
.trend {
  width: calc(50% - 4px); 
}

.trend:nth-child(n+3) {
  margin-top: 4px;
}

.trend:nth-child(even) {
  margin-left: 2px;
  margin-right: 0;
}

.trend:nth-child(odd) {
  margin-right: 2px;
  margin-left: 0;
}

} 

.trend1 {
background-image: url("../images/trend1.jpg");
max-width: 100%;
position: relative;
z-index: 0;
} 

.trend2 {
background-image: url("../images/trend2.jpg");
position: relative;
z-index: 0;
} 

.trend3 {
background-image: url("../images/trend3.jpg");
position: relative;
z-index: 0;
} 

.trend4 {
background-image: url("../images/trend4.jpg");
position: relative;
z-index: 0;
} 

.trend::after {
content: "";
background-color: #606260; 
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.6;
z-index: -1;
}

.trend-categories {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
width: 90%;
padding: 10px;
border: 3px solid #b59f5b;
}

.trend-categorie {
display: flex;
flex-wrap: wrap;


align-items: flex-end;
padding: 3px;
}

.content-trend {
font-size: 20px;
line-height: 1.2;
color: #ffffff;
font-weight: 700;
text-transform: uppercase;
}

@media (max-width: 1199px) {
  .content-trend {
    font-size: calc(0.3vw + 14.64px); 
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .content-trend {
    line-height: 1.3;
  }
}

@media (max-width: 640px) {
  .content-trend {
    line-height: 1.25;
  }
}

.content-trend:hover {
  color: #b59f5b;
}

.trend-categorie {
  list-style-type: none;
}

.trend-categories1-1 {
text-decoration: none;
font-size: 14px;
line-height: 2.8;
color: #b59f5b;
font-weight: 700; 
}

.trend-categories1-1:nth-child(n+1) {
  margin-right: 20px;
}

.trend-categories1-1:hover {
  text-decoration: underline;
}

/* Основная текстовая часть -main*/

.whole-content {
  display: flex;
  flex-direction: column;
  max-width: 1178px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}


.content {

  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  }

 @media (max-width: 640px) {
  .content {
    justify-content:center;
    align-items: center;
  }
   }


/* левый блок в main */
.news {
  width: 66%;
  
}

.news-list {
  display: flex;
  align-items: flex-start;
 
 
 }
   

.news-list:nth-child(n+2) {
  margin-top: 55px;
}

.img { 
 
   max-width: 100%;
   background-position: center center;
 
}






.news-list-item {
  padding-left: 27px;
  padding-right: 3px;
   }

  
 @media (max-width: 1199px) {

  .news-list {

    flex-direction: column;
  }


  .news-list-item {
    max-width: 381px;
    margin-left: 0;
    margin-right: 35px;
    padding-left: 0;
    }

  

 .text::after {
  content: "";
  max-width: 100%;
  height: 3px;
  background-color: #f4f7f6;
  display: block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
 }
}

   .categories {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-bottom: 5px;
      font-size: 14px; 
      text-transform: uppercase;
 }

  .categories-item {
    margin-right: 20px;
}

.categories-item-link {
   text-decoration: none;
   font-weight: bold;
   color: #b59f5b;
  }
.categories-item-link:hover {
  text-decoration: underline;
}

.categories-item-link-title {
   text-decoration: none; 
   color: #000000; 
 }

.categories-item-link-title:hover {
  color: #b59f5b;
}

.new-list-title {
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width:641px) and (max-width: 1199px) {
  .new-list-title {
    font-size: 17px;
    line-height: 1.3;
  }
}


   
  .new-list-title {
    font-size: 16px;
    line-height: 1.3;
  }

  @media (max-width: 640px) {
  /* .img-new { 
    width: 326px;
    background-position: center center;
      
     } */

  .new-list-title {
    font-size: 16px;
    line-height: 1.3;
    }
  

    }
    

  .widget-title {
    font-size: 16px; 
  }




.new-list-time {
  display: flex;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 12px;
}


.new-list-time-link:nth-child(n+2) {
   margin-left: 12px;
 }

.author {
  font-weight: bold;
 }

.text1 {
  font-size: 15px;
  line-height: 1.4;
}

.text:nth-child(n+2) {
  margin-top: 15px;
}



@media (max-width: 640px) {
  .news-list img{ 
    width: 326px;
    background-position: center center;
    }
    .news-list-item {
      margin-left: auto;
      margin-right: auto;
    }

  }



/* правый блок в main */ 

.widget {
  width: 270px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;

}

 @media (max-width: 641px) {
   .content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    }

    .widget {

    margin: auto;
    padding-top: 0;
} 
    
  }
/*Секция new-posts - новые посты   */

.widget-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;  
  margin-bottom: 36px;
  text-align: center;
  }


  @media (max-width: 640px) {
    
     .new-list-title {
      font-size: 16px;
      line-height: 1.3;
    }
  }

.widget-list {
  display: flex;
  align-items: flex-start; 
  }

.img-widget {
 width: 72px;
 min-width: 72px; 
 background-position: center;
}

.widget-list-item {
  padding-left: 15px;
  padding-right: 2px;
  vertical-align: top;
  }



.new-list-title-time {
  display: block;
  font-size: 12px;
  }

.widget-title-text{
  vertical-align: top;
  line-height: 1.1;
}

.widget-title-link {
 text-decoration: none;
  color:#000000;
  
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
 
  text-transform: uppercase;
  
  }

  @media (max-width: 640px) {
        .widget-title-link {
      font-size: 16px;
      
    }
  }

.widget-title-link:hover {
  color: #b59f5b;
}

.widget-list:nth-child(n+2) {
  margin-top: 20px;
 }

 @media (max-width: 640px) {
  .widget-title {
    font-size: 16px; 
  }
 }

/* Секция search-field - поле поиска */

.search {
 display: flex;
 margin-top: 60px;
  
 }
.form-group {
   width: 100%;
}

.form-hint {
  display: block;
 
  font-size: 14px;
  text-align: center;
 
 position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 

}



.field {
  box-sizing: border-box;
  font-size: 13px;
  background-color: #f4f7f6;
  border: none;
  padding: 10px 15px;
  height: 47px;
   width: 100%; 
  }

.field:focus, .submit:focus, .submit-mail:focus  {
  outline: 1px solid #b59f5b;
   }
.submit:hover, .submit-mail:hover {
   background-color: #323232;
}

.submit {
  background-color: #b59f5b;
  width: 47px;
  height: 47px;
  background-image: url("../svg/search.svg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: 18px; 
  border: none;
  }


/* Секция mail - введите почту */
.mail {
 display: block;
 margin-top: 55px;
}

.widget-title-link {
 
  text-align: center;
  margin-bottom: 39px;
}

.submit-mail {
  margin-top: 15px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 18px 80px;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

/* Teги */

.menu-list-aside {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.menu-list-aside-item {
  display: inline-block;
  box-sizing: border-box;
  min-width: 74px;
  height: 30px;
  list-style: none;
  border: 3px solid #ededed;
  margin-bottom: 6px;
  margin-right: 6px;
  text-align: center;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
 } 

.menu-list-aside-item:hover {
 border: 3px solid #b4b55b;
}



.menu-aside-link {
  text-decoration: none;
  color: #000000;
 }



/*Темы */

 .topic {
   text-align: justify;
}

.topic:first-child {
   margin-top: 40px; 
}
 
.topic-list-aside-item {
  box-sizing: border-box;
  height: 48px;
  list-style: none;
  border-bottom: 1px solid #ededed;
  padding: 12px 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

 
.topic-aside-link:hover {
  color:#b59f5b;
}

.number {
  vertical-align: top;
  font-size: 12px;
  color: #b59f5b;
  margin-left: 5px;
}

.widget-title::after {
  content: "";
  width: 66px;
  height: 2px;
  background-color: #b59f5b;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
 }

/*наши изделия*/

.products-titles {
 
  margin-top: 58px;
  display: flex;
  flex-direction: column;
}



.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
  max-width: 1170px;
  width: 100%;
 
  margin-left: auto;
  margin-right: auto;
 
  justify-content: space-between;
}

.product {
  display: flex;

  width: 32%;
 
  flex-direction: column;
 
  padding: 15px;
margin-bottom: 30px;
}

.product-img {

max-width: 100%;
}


.info {
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
height: 100%;


}

.product-title {
  font-size: 20px;
  line-height: 1.4;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
 
  }

.product-title1 {

  margin-left: auto;
  margin-right: auto;
  }


.product-title1::after {
  content: "";
  width: 66px;
  height: 2px;
  background-color: #b59f5b;
  display: block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
 }




.product-description {
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";

  }

.product-description1 {
  text-decoration: none;
  color: #b59f5b;

  }

.product-description1:hover {
text-decoration: underline;
}


.price-old {
font-size: 14px;
line-height: 24px;
text-decoration: line-through;
color: #0f0d0e;
font-weight: 700;
font-family: "Open Sans";

}

.price-new {
font-size: 20px;
line-height: 24px;
color: #0f0d0e;
font-weight: 700;
font-family: "Open Sans";
}



.price-button {
padding-top: 10px;
padding-bottom: 10px;

display: flex;
justify-content: space-between;
align-items: flex-end;
text-transform: uppercase;

}

.product-button {
padding: 10px;
background-color: #b59f5b;

font-size: 14px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans";
text-transform: uppercase;
border: none;
}

.product-button:hover {
background-color: #323232; 
}


@media (min-width: 641px) and (max-width: 1199px) {
  .product {
    width: 48%;
   
 }
 
 .product-title {
  font-size: 17px;
  line-height: 1.3;
}
}


@media (max-width: 640px) {
  .product {
    width: 100%;
   
 }
 
 .product-title {
  font-size: 16px;
  line-height: 1.3;
}
}


/* Социальные сети-иконки - Footer*/

.footer {
  
  /* width: 1187px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 70px; 
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f7f6;
  }

.sozials {
  list-style: none;
  text-align: center;
}


.sozials-item {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  }

.sozials-link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-decoration: none;
  color: #000000;
}

.sozials-link-twitter {
  background-image: url("../svg/004-twitter.svg")
}

.sozials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg")
}

.sozials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg")
}

.sozials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.sozials-link-instagram {
   background-image: url("../svg/005-instagram.svg");
}
.sozials-link-text {
 width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute; 
} 

/*Копирайт  */

.copyright {
  font-weight: bold; 
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin-top: 76px;
  margin-bottom: 40px;
  text-decoration: none;
  
}


/* popup */

.hidden {
  display: none;

}



.popup {

position: fixed;
width: 100%;
min-height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
display: flex;
box-sizing: border-box;
justify-content: center;
 align-items: center;

 


} 

.popup-form {
  width: 390px;
max-height: 20%;
  background-color: #ffffff;
/* margin-top: 100px;
margin-bottom: 100px; */
  font-size: 24px;
  padding: 55px 30px;
  position: relative;

 
  }


.close {
    
    background-image: url("../svg/form-x.svg");
    background-color: transparent;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 20px;
    height: 20px;

    position: absolute;
    top: -25px;
    right: 0;
    border: none;
  }

.title_form {
  display: block;
  text-align: center;
  text-transform: uppercase;

  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;

  }

.title_form::after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
 }

.form-hint-popup {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  color: #000000;
  font-weight: 400;

  margin-top: 12px;
  margin-bottom: 12px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  box-sizing: border-box;
  font-size: 13px;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  
  padding: 17px 14px 17px 17px;
  margin-top: 12px;
  margin-bottom: 28px;

  width: 100%;
  background-color: #f4f7f6;
  border: none;

  background-image: url("../svg/form-arrows.svg"); 
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px;
  margin-bottom: 33px;
  }

  
.select:focus, .textarea:focus {
  outline: 1px solid #b5a35b;

}


.select1 {
  border: none;
}

.radio-group-text::before {
  content: "";
  display: inline-block; 
  width: 16px;
  height: 16px;
  margin-right: 5px;


  vertical-align: middle;

  background-image: url("../svg/form-empty-circle.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;


  }

.radio-text {
  font-size: 13px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 17px;

}

.radio:checked ~ .radio-group-text::before {

  background-image: url("../svg/form-circle.svg");

}


.radio {

  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  }


.form-row {
  margin-bottom: 36px;

}


.textarea {
  width: 100%;
  background-color: #f4f7f6;
  min-width: 330px;
  max-width: 340px;

  min-height: 130px;
  max-height: 150px;
  padding: 10px;
  font-family: inherit;
  border: none;
  margin-top: 13px;
  margin-bottom: 25px;

}

.submit-popup {
  width: 100%;
  padding: 16px;
  color: #ffffff;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
  border: none;
  text-transform: uppercase;
  font-weight: 700; 

  }

.submit-popup:hover {
  background-color: #323232; 
} 

